p{
  text-align: justify;
  font-size: 1rem;
}


li{
  font-size: 1rem;
}


.destaque{
  background-color: #ffffff;
}

.minirodape{
  font-size: 0.8rem;
  position: absolute;
  bottom: 60px;
  padding-right: 4em;
}

.inverse .remark-inline-code {
  color: #f58634;
}

.inverse a {
  color: #f58634;
}

.scroll-output pre {
  overflow-x: auto;
  font-size: 0.5em; /* você pode ajustar aqui */
  max-height: 400px; /* evita que quebre o layout vertical */
}

.link-sumario {
  position: absolute;
  bottom: 0.8em;         /* mesma altura da numeração do slide */
  right: 5.8em;          /* distância ajustada à esquerda da numeração */
  font-size: 0.9rem;     /* igual à .remark-slide-number */
  color: #005c8b;        /* mesma cor da numeração */
  opacity: 1;
  z-index: 100;
}

.link-sumario a {
  color: inherit;
  text-decoration: none;
}
